@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --blue-light: #00a8db;
  --blue-light-200: rgb(4, 170, 221);
  --blue-dark: #034d82;
  --white-1: #ffffff;
  --yellow-1: #faad13;
  --black-1: #081315;
  --gray: #90a3b4;
  --gray-parag: #8ea9c1;
  --gray-logo: #1d282a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

/* header  */
header {
  background: var(--blue-light);
  color: var(--white-1);
  padding: 2rem 6rem 5rem 6rem;
  height: 120vh;
}
header .top {
  display: flex;
}
header .top .logo {
  width: 50%;
  display: flex;
  align-items: center;
}
.rsxSociaux {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapRsxSociaux {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
header .top .nav {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top .nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .top .nav nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header .top .nav nav ul li a {
  color: var(--white-1);
  text-decoration: none;
}
header .top .nav nav ul li button {
  border: none;
  background: linear-gradient(to left, #005490, #328bcb);
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 5px;
}
header .bottom {
  display: flex;
  align-items: top;
}
header .bottom .left {
  width: 50%;
  padding-top: 6rem;
}
header .bottom .right {
  width: 50%;
  background-image: url(img/Shape.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
header .bottom .right img {
  width: 1100px;
  transform: translateX(-200px);
}
header h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}
header p {
  line-height: 1.5rem;
  margin: 1rem 0 1rem;
}
header .btn {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
header .btn .left {
  color: var(--blue-light);
  border: solid 2px var(--blue-light);
  width: 50%;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  border-radius: 7px;
}
header .btn .right {
  color: var(--white-1);
  border: none;
  background: transparent;
  width: 45%;
  cursor: pointer;
}
/* seconde
.measureImpression {
  display: flex;
  flex-direction: row;

/* seconde section  */
.seconde_section,
.scheduleYourPost {
  background-color: var(--white-1);
}
.first_section_on_therd,
.measureImpression {
  margin-top: 5%;
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
  flex-direction: row;
  background-color: var(--white-1);
}
.first_section_on_therd {
  margin-top: 10%;
  gap: 0;
}
.img_left_side {
  position: relative;
}
.img_left_side img:nth-child(1) {
  width: 450px;
  position: relative;
  z-index: 20;
}
.img_left_side img:nth-child(2) {
  position: absolute;
  top: 4%;
  left: 0;
  width: 500px;
  /* z-index: -1; */
}
.side_content {
  width: 50%;
}
.side_content h1,
.Schedule h1 {
  color: var(--blue-dark);
  line-height: 2.8rem;
}
.side_content p,
.Schedule p {
  color: var(--gray);
  /* font-size: 0.9rem; */
  line-height: 1.8rem;
  /* width: 75%; */
  margin-top: 4%;
}

.learn_about,
.learn_about p {
  color: var(--blue-light-200);
  font-weight: 600;
  cursor: pointer;
}
.learn_about p:hover {
  color: rgba(4, 170, 221, 0.7);
}
.fa-arrow-right {
  margin-left: 1rem;
}
ul {
  list-style-type: none;
  margin-top: 5%;
  margin-bottom: 5%;
}
ul li {
  display: flex;
  align-items: center;
  margin-top: 2.5%;
}
ul li p {
  margin-top: 0 !important;
  margin-left: 1rem;
}
.growYourBrand {
  background: linear-gradient(to left, #01b8d9, #24ceed);
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  color: var(--white-1);
  padding: 5px 50px 5px 50px;
  border-radius: 10px;
}
.growYourBrand p {
  margin: 20px 0 10px 0;
}
.growYourBrand .media {
  display: flex;
  justify-content: left;
  align-items: center;
}
.growYourBrand .media img {
  margin-left: 10px;
}
.growYourBrand .text {
  line-height: 2.1rem;
}
.growYourBrand .right {
  background-image: url("img/Group42.png");
  /* background: #000; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.wrapGrowYourBrand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 50px 0;
}
.pdpAndOther {
  display: flex;
  align-items: center;
}
.pdpAndOther .profil {
  display: flex;
  align-items: center;
}
.pdpAndOther .profil img {
  margin-left: -10px;
}
.pdpAndOther .other {
  color: var(--white-1);
  margin-left: 10px;
}
.poweringTheGrowth {
  display: flex;
  justify-content: center;
}
.growYourBrand button {
  background-color: var(--white-1);
  color: var(--blue-light);
  border: none;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
}
footer {
  background-color: var(--black-1);
  color: var(--white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
.wrapFooter {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.wrapFooter .top {
  display: flex;
  justify-content: space-evenly;
}
.heart .wrapBlue {
  width: 50px;
  height: 50px;
  background-color: var(--blue-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.wrapFooter .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 50px 0;
}
.wrapFooter .logo {
  display: flex;
  margin-top: 20px;
}
.wrapFooter .wrapLogo {
  background-color: var(--gray-logo);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 4px;
}
footer a {
  text-decoration: none;
  color: var(--white-1);
  opacity: 0.5;
}
footer .top {
  display: flex;
}
/********************************* trackAnyHashtagsPerformance  *************************************/
.trackAnyHashtagsPerformance {
  background-color: #effbff;
  padding: 5%;
}
.trackAnyHashtagsPerformance h1 {
  color: var(--blue-dark);
  text-align: center;
}
.inforamtio_powering_the_growth h1 {
  color: var(--blue-dark);
  text-align: left;
  line-height: 3rem;
  width: 70%;
}
.inforamtio_powering_the_growth p {
  margin-top: 5%;
}
.trackAnyHashtagsPerformance p:nth-child(2) {
  color: var(--gray-parag);
  text-align: center;
  margin-top: 2%;
  margin-inline: auto;
  width: 40%;
  line-height: 2rem;
}
.Hashtag {
  background-color: var(--white-1);
  padding: 1.5rem;
  width: 20%;
  padding-bottom: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Hashtag:hover {
  transform: scale(1.04);
  margin-inline: 1%;
}
.Hashtag h2 {
  color: var(--blue-dark);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.Hashtag p,
.inforamtio_powering_the_growth p,
.message,
.post_client {
  color: var(--gray-parag);
  line-height: 2rem;
}
.message {
  font-style: italic;
  margin-top: 2%;
  width: 75%;
}
.list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 5%;
}
.Hashtag:nth-child(1) {
  box-shadow: 2px 50px 50px #5a71843b;
}

.poweringTheGrowth {
  padding: 5%;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.temoin,
.avatar_client {
  display: flex;
  gap: 15px;
}
.right_side_temoin {
  margin-top: 2%;
}
.avatar_client {
  margin-top: 2%;
}
.name {
  color: var(--blue-dark);
  font-size: 1.2rem;
  font-weight: 700;
}
.temoin {
  position: relative;
}
.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  border-radius: 60%;
  padding: 1rem;
  padding-inline: 1.2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.fa-chevron-left {
  bottom: 8%;
  left: -5%;
  background-color: var(--white-1);
  color: var(--blue-dark);
}
.fa-chevron-right {
  bottom: 8%;
  right: 20%;
  background-color: var(--blue-dark);
  color: white;
  box-shadow: 4px 4px 146px var(--blue-light);
}
.fa-chevron-right:hover,
.fa-chevron-left:hover {
  background-color: var(--blue-light);
}
.fa-chevron-left:hover {
  color: var(--white-1);
}
.dots {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
.dots span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray-parag);
  cursor: pointer;
}
.dots span:first-child {
  background-color: var(--blue-dark);
}
